{% extends "base.html" %}

{% block content %}
    <h1>Pendidikan Saya</h1>
    <div class="content-box">
        <div class="education-container">
            <ul>
                <li><strong>SMP NEGERI 103 JAKARTA</strong><br>Junior High School<br>2016-2019</li>
                <br></br>
                <li><strong>SMA NEGERI 39 JAKARTA</strong><br>Senior High School<br>2019-2022</li>
                <br></br>
                <li><strong>POLITEKNIK NEGERI JAKARTA</strong><br>TEKNIK MULTIMEDIA DAN JARINGAN<br>2022-2026</li>
            </ul>
        </div>
    </div>
{% endblock %}
